@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@font-face {
  font-family: "Header";
  src: url("../../../../../assets/FiddlersCoveBold-7JJV.otf");
}
main {
  background-image: url("../../../../../assets/background-canvas.gif");
}
canvas {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100vh;
}
.wrap-text {
  position: absolute;
  top: 20%;
  left: 10%;
  display: flex;
  flex-direction: column;
  font-family: "Header", cursive;
  font-size: 120px;
  text-shadow: 1px 1px 4px #0bc9cd, -1px -1px 4px crimson;
  letter-spacing: 3px;
}
div {
  display: none;
}
.wrap-text div.first {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1.5s steps(10, end);
}
.wrap-text div.second {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 2s steps(20, end);
}
.wrap-text div.third {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(30, end);
}

.ws {
  margin-left: 35px;
}

span.word:hover {
  display: inline-block;
  transform: rotate(0.02turn) translate(10px, 10px) scale(1.1);
  cursor: default;
  color: #0bc9cd;
  text-shadow: 1px 1px 6px violet, -1px -1px 4px crimson;
}
