<main>
  <canvas #canvas> </canvas>
  <div class="wrap-text">
    <div class="presentation-text first" #first>
      <span class="word">H</span>
      <span class="word">i</span>
      <span class="word">,</span>
    </div>
    <div class="presentation-text second" #second>
      <span class="word">I</span>
      <span class="word">´</span>
      <span class="word">m</span>
      <span class="word ws">M</span>
      <span class="word">i</span>
      <span class="word">g</span>
      <span class="word">u</span>
      <span class="word">e</span>
      <span class="word">l</span>
    </div>
    <div class="presentation-text third" #third>
      <span class="word">F</span>
      <span class="word">u</span>
      <span class="word">l</span>
      <span class="word">l</span>
      <span class="word">s</span>
      <span class="word">t</span>
      <span class="word">a</span>
      <span class="word">c</span>
      <span class="word">k</span>
      <span class="word ws">d</span>
      <span class="word">e</span>
      <span class="word">v</span>
      <span class="word">e</span>
      <span class="word">l</span>
      <span class="word">o</span>
      <span class="word">p</span>
      <span class="word">e</span>
      <span class="word">r</span>
    </div>
  </div>
</main>
