app-header {
  grid-area: header;
  background-color: blue;
}
app-nav {
  grid-area: nav;
  background-color: green;
}
.router-container {
  grid-area: content;
  background-color: crimson;
}
.full-view {
  background-color: crimson;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}
