app-header {
  grid-area: header;
  background-color: blue;
}
app-nav {
  grid-area: nav;
  background-color: green;
}
.router-container {
  grid-area: content;
  background-color: crimson;
}

.hidden {
  display: none;
}
