app-header {
  grid-area: header;
  background-color: blue;
}
app-nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.router-container {
  grid-area: content;
}
.full-view {
  background-color: crimson;
  width: 100vw;
  height: 100vh;
}

.hidden {
  display: none;
}
