* {
  margin: 0;
  padding: 0;
}
app-root {
  display: grid;
  grid-template-columns: 1fr 25fr;
  grid-template-rows: 100vh;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "nav content";
}
